@import url("https://fontlibrary.org/face/hk-grotesk");

.about-content {
  .profile-pic {
    width: 100%;
  }

  a {
    text-decoration: none;
    font-family: "HKGroteskMedium", Arial, Helvetica, sans-serif;
  }

  a:hover {
    background-color: #ddd;
  }

  h1 {
    color: #444;
    text-decoration: none;
    font-family: "HKGroteskBlack", Arial, Helvetica, sans-serif;
    font-size: 2.8em;
  }

  h2 {
    color: #444;
    text-decoration: none;
    font-family: "HKGroteskBlack", Arial, Helvetica, sans-serif;
    font-size: 2em;
  }

  p {
    color: #444;
    text-decoration: none;
    font-family: "HKGroteskMedium", Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.4em;
  }

  blockquote {
    border-left: 5px solid #ccc;
    padding-left: 1.45rem;
    margin: 0 0 1.45rem 0;
  }

  blockquote p {
    color: #777;
    font-size: 1.1em;
    font-style: italic;
  }

  .caption {
    text-align: center;
    font-size: 0.8rem;
  }

  li {
    font-family: "HKGroteskMedium", Arial, Helvetica, sans-serif;
    list-style-type: none;
  }
}

.contact {
  display: flex;
  margin: 0;

  li {
    list-style-type: none;

    img {
      opacity: 0.8;
      display: block;
    }
  }

  .tiny-icon {
    width: calc(36px + 1em);
    height: calc(36px + 1em);
    padding: 0.5em 0.5em;
  }

  .tiny-icon:hover {
    background-color: #ddd;
  }

  .medium_icon {
    width: 48px;
    height: 48px;
  }
}
