@import url("https://fontlibrary.org/face/hk-grotesk");

footer {
  font-family: "HKGroteskMedium", Arial, Helvetica, sans-serif;
  padding: 1rem 0 1rem 0;
  font-size: 1em;

  a {
    text-decoration: none;
  }
}
